[Desktop Entry]
Encoding=UTF-8
Name=Link to TP2 Ciencia de Datos
Type=Link
URL=https://gist.github.com/fraimondo/57990372c3c8a87c2c1bd290bffaa46f
Icon=text-html
